
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	
	background-color: rgb(178, 225, 117);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 150px;
	background-color: rgb(37, 183, 56);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position:initial;
	background-color: rgb(76, 221, 240);
	padding: 20px;

}
.right {
	position: initial;
	background-color: rgb(128, 217, 210);
	padding: 20px;

}
.image,.Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
	
}
